Cuts.xlsx
Swim Results (with Cuts).pdf
Swim Results.pdf
source.html
chromedriver.exe
source0.html
source1.html
source2.html
source3.html
openpyxl_test.py
example.xlsx
swimmer_data_test.txt
table_structure.py
swimmer_data_test.json
notes.txt
openpyxl_test2.py
Swim Results.xlsx
wkhtmltopdf.exe
Swim Results.csv
Swim Results.html
Swim Results (From HTML).pdf
Swim Results (From CSV).pdf
credentials.json
token.json
gmail_testing1.py
quickstart.py
swimming_data.db
resources
__pycache__/constants.cpython-312.pyc
__pycache__/data_structures.cpython-312.pyc
